<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Tymeleaf each 반복문 제어구조</h1>
	<p>
	<ul>
		<li th:each="dto : ${list}">
			[[${dto}]]
		</li>
	</ul>
	<hr>
	<h1>Thymeleaf each 반복문 상태객체 활용</h1>
	<p>
	<h2>순번, 인덱스 번호, 홀수/짝수 등 지정</h2>
	<p>
	<ul>
		<li th:each="dto, state : ${list}">
			[[${state.index}]] --- [[${dto}]]
		</li>
	</ul>
	<hr>
	<h1>Thymeleaf if 제어문</h1>
	<h2>sno가 5의 배수만 출력</h2>
	<p>
	<ul>
		<li th:each="dto, state : ${list}" th:if = "${dto.sno % 5 == 0}">
			[[${dto}]]
		</li>
	</ul>
	<hr>
 	<h1>Thymeleaf if, unless 제어구조</h1>
	<h2>sno가 5로 나눈 나머지가 0일 경우 sno만 출력, 그렇지 않다면 SampleDTO의 name 출력</h2>
	<p>
	<ul>
		<li th:each="dto, state : ${list}">
			<span th:if="${dto.sno % 5 == 0}" th:text="${dto.sno + '-----------' + dto.sno}"></span>
			<span th:unless="${dto.sno % 5 == 0}" th:text="${dto.sno + ' : ' + dto.name}"></span>
		</li>
	</ul>
	<hr>
	<h1>Thymeleaf 삼항 연산자 제어구조1</h1>
	<p>
	<ul>
		<li th:each="dto, state : ${list}" th:text="${dto.sno % 3 == 0} ? ${dto.sno}">
		</li>
	</ul>
	<hr>
	<h1>Thymeleaf 삼항 연산자 제어구조2</h1>
	<p>
	<ul>
		<li th:each="dto, state : ${list}" th:text="${dto.sno % 3 == 0} ? ${dto.sno} : ${dto.name}">
		</li>
	</ul>
	<hr>
	
	<h1>Thymeleaf 삼항 연산자 제어구조3 - 특정상황 CSS반영</h1>
	<p>
	<style>
		.target{
			background-color: red;
		}
	</style>
	<ul>
		<li th:each="dto, state : ${list}" th:class="${dto.sno % 5 == 0} ? 'target'" th:text="${dto}">
		</li>
	</ul>
	
	<hr>
	<h1>Thymeleaf th:block 활용</h1>
	<p>
	<ul>
		<th:block th:each="dto: ${list}">
			<li th:text="${dto.sno % 5 == 0}? ${dto.sno} : ${dto.name}"></li>
		</th:block>
	</ul>
	
	<hr>
	<h1>Thymeleaf 기본 객체 #numbers 활용</h1>
	<p>
	<ul>
		<li th:each="dto : ${list}">
			[[${#numbers.formatInteger(dto.sno, 5)}]]
		</li>
	</ul>
	
	<hr>
	<h1>Thymeleaf #temporals 활용, 날짜 포맷 설정</h1>
	<p>
	<ul>
		<li th:each="dto : ${list}">
			[[${dto.sno}]] --- [[${#temporals.format(dto.regTime, 'yyyy/MM/dd')}]]
		</li>
	</ul>
</body>
</html>