doctype html
html 
    head 
        block head
    body 
        a(href='/') HOME 
        a(href='/menus' ) 메뉴 소개
        a(href='/location') 오시는 길
        block content 
        p 연락처 : 053-111-1111
        